services:
  db:
    image: postgres:15
    container_name: traffic_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: traffic
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: traffic_backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

volumes:
  db_data:
